@{
    ViewData["Title"] = "All Reservations";
}
@model IEnumerable<Reservation>

<h1 class="display-4">Reservation Details</h1>
<a asp-action="AddReservation" class="btn btn-sm btn-primary">Book Ticket</a>
<a asp-action="GetReservation" class="btn btn-sm btn-secondary">Get Reservation</a>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Start Location</th>
        <th>End Location</th>
        <th>Update</th>
        <th>Delete</th>
    </thead>
        <tbody>
            @foreach(var r in Model )
            {
            <tr>
              <td>@r.Id</td>
              <td>@r.Name</td>
              <td>@r.Startlocation</td>
              <td>@r.Endlocation</td>
              <td><a asp-action="UpdateReservation" asp-route-id="@r.Id" class="btn btn-warning">Update</a></td>
                <td >
                  <form asp-action="DeleteReservation" method="post" >
                  <input type="hidden" value="@r.Id" name="ReservationId"/>
                  <button type="submit" class="btn btn-danger">Delete</button>
                  </form></td>
            </tr>
             }
        </tbody>
   
</table>

