@{
    ViewData["Title"] = "Employee List";
}
@model IEnumerable<Employee>

<h1 class="bg-info text-black">Employee List</h1>
<a asp-action="Create" class="btn btn-secondary">Add New Employee</a>
<table class="table table-sm table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Designation</th>
        <th>Salary</th>
    </tr>
    @foreach (Employee employee in Model)
    {
        <tr>
            <td>@employee.Id</td>
            <td>@employee.Name</td>
            <td>@employee.Designation</td>
            <td>@employee.Salary</td>
            <td>
                <a class="btn btn-sm btn-primary"
                   asp-action="Edit"
                   asp-route-id="@employee.Id">
                    Edit
                </a>
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@employee.Id" method="post">
                    <button class="btn btn-danger btn-sm">Remove</button>
                </form>
            </td>
        </tr>
    }
</table>
